<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Cup of tea">
	<link rel="icon" href="images/favicon.png" type="image/x-png" />
	<title>Cop of tea</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" type="text/css" />

	<meta name="viewport" content="width=device-width , initiale-scale=1">

	<link rel="stylesheet" type="text/css" href="css/slick.css" />
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
	<link rel="stylesheet" href="css/theme.css">
</head>

<body>
	<div id="app">
	<header>
		<img src="img/ribbon.svg" alt="ribbon" class="ribbon">
		<span class="livr">Livraison offerte à partir de 65£ d'achat!</span>
		<div class="container">
			<div class="prixTotal">
				<div>
					<span class="monPanier">Mon panier</span>
					<span class="panier"><i class="fas fa-shopping-cart"></i> 43,00€</span>
				</div>
				<a href="index.html" class="logo"><img src="img/logo.png" alt="Logo de boutique"></a>
			</div>
			<nav>
				<ul>
					<li><a href="listing-product.html" class="active">Thés</a></li>
					<li><a href="">Grand crus</a></li>
					<li><a href="product.html">Accessoires</a></li>
					<li><a href="">Epicerie</a></li>
					<li><a href="about.html">Notre histoire</a></li>
				</ul>
			</nav>
		</div>
		
	</header>
	<main class="container">
		<section class="bg-blanc padding" >
		
			<h1>Le meilleur du thé</h1>
			<div class="flexProduct">
			<div class="flex">
			<h2 class="h2product">Blue of London</h2>
			<h3 class="h3">Thé noir à la berganote </h3>
			<p class="center">Ref: 133712</p>
			</div>	
			<div class="rating">
				<div class="stars">
					<i class="fa fa-star gold"></i>
					<i class="fa fa-star gold"></i>
					<i class="fa fa-star gold"></i>
					<i class="fa fa-star gold"></i>
					<i class="fa fa-star"></i>
				</div>
				<a href="#" class="green avis">Voir les 56 avis</a>
			</div>
	</div>
				<div class="flexProduct">
				<img src="img/product/product3_big.jpg" alt="product3_big" class="center imgabout">
			
				<div class="flexselect center">
					<select  v-model="selected">
					    <option v-for="option in options" v-bind:value="option.value">
						    {{ option.text }}
						  </option>
					</select>
				
				<p class="price">{{selected}}</p>
				<a href="#" class="add"  @click="editBasket">Ajouter au PANIER</a>
				<p><a href="#" class="green"><i class="fas fa-heart"></i>Ajouter à ma liste d'entrée</a></p>
				</div>
			</div>
			<div>
				<p class="p-about"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, suscipit magni delectus tempore facere non fugit molestias nemo hic eius harum iusto consequatur ipsum consectetur aliquam! Hic, accusantium, modi, cumque sequi voluptates eum itaque
					est enim saepe earum quisquam reiciendis adipisci perspiciatis soluta a ratione esse? Eos error minus accusantium.</p>
				<p class="p-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, suscipit magni delectus tempore facere non fugit molestias nemo hic eius harum iusto consequatur ipsum consectetur aliquam! Hic, accusantium, modi, cumque sequi voluptates eum itaque
					est enim saepe earum quisquam reiciendis adipisci perspiciatis soluta a ratione esse? Eos error minus accusantium.</p>
				<p class="p-about"><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, suscipit magni delectus tempore facere non fugit molestias nemo hic eius harum iusto consequatur ipsum consectetur aliquam! Hic, accusantium, modi, cumque sequi voluptates eum itaque est enim saepe earum quisquam reiciendis adipisci perspiciatis soluta a ratione esse? Eos error minus accusantium.</strong></p>

				<p class="p-about"><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, suscipit magni delectus tempore facere non fugit molestias nemo hic eius harum iusto consequatur ipsum consectetur aliquam! Hic, accusantium, modi, cumque sequi voluptates eum itaque est enim saepe earum quisquam reiciendis adipisci perspiciatis soluta a ratione esse? Eos error minus accusantium.</strong></p>
			</div>
		</section>
	</main>
	<footer>
		<section>
			<aside class="aside">
				<ul class="container">
					<li>
						<a href=""><i class="fas fa-lock"></i>paiement sécurité</a>
					</li>
					<li>
						<a href=""><i class="fas fa-truck"></i>Livraison offerte</a>
					</li>
					<li>
						<a href=""><i class="fas fa-money-bill-alt"></i>Carte fidélité</a>
					</li>
					<li>
						<a href=""><i class="fas fa-phone"></i>service client</a>
					</li>
					<li>
						<a href=""><i class="fas fa-check-circle"></i>Garantie qualité</a>
					</li>
				</ul>

			</aside>
			<div class="footer-cup container">

				<ul>
					<li><strong>Cup of tea</strong></li>
					<li><a href=""> Notre histoire</a></li>
					<li><a href="">Nos boutiques</a></li>
					<li><a href="">le thé de A à Z</a></li>
					<li><a href="">Espace Clients Professionnels</a></li>
					<li><a href="">Recrutement</a></li>
					<li><a href="">Contactez-nous</a></li>
					<li><a href="">L'Ecole du thé</a></li>
				</ul>


				<ul>
					<li><strong>Commander en ligne</strong></li>
					<li><a href="">Première visite</a></li>
					<li><a href="">Aide-FAQ</a></li>
					<li><a href="">Service client</a></li>
					<li><a href="">Suivie ma commande</a></li>
					<li><a href="">Conditions générales de vente</a></li>
					<li><a href="">Informations légales</a></li>
				</ul>


				<ul>
					<li><strong>Suivez-nous</strong></li>
					<li><a href="">Notre histoire</a></li>
					<li><a href="">Nos boutiques</a></li>
					<li><a href="">le thé de A à Z</a></li>
					<li><a href="">Espace Clients Professionnels</a></li>
				</ul>
			</div>
		</section>
		<div class="footer-3w">
			<p><a rel="license" href="https://3wa.fr/propriete-materiel-pedagogique/"><img alt="Propriété de la 3W Academy" src="https://3wa.fr/wp-content/themes/3wa2015/img/logos/big.png"></a></p><br>
			<span>Cet exercice</span> de <a href="https://3wa.fr">3W Academy</a> est mis à disposition <a rel="license" href="https://3wa.fr/propriete-materiel-pedagogique/">pour l'usage personnel des étudiants. Pas de Rediffusion - Attribution - Pas d'Utilisation Commerciale - Pas de Modification - International</a>.<br>			Les autorisations au-delà du champ de cette licence peuvent être obtenues auprès de <a href="mailto:contact@3wa.fr" rel="cc:morePermissions">contact@3wa.fr</a>. Les maquettes ont été réalisées par <a href="https://www.cath2nos.com">Justine Muller</a>.
		</div>

	</footer>
	</div> 

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/vue.js" type="module"></script>
    
</body>

</html>